openapi: 3.0.0
info:
  contact: {}
  description: The integration API documentation
  title: Billin Api
  version: "1.0"
servers:
- url: https://api.billin.net
paths:
  /v1/auth/token:
    post:
      description: "Endpoint that validates credentials following the flows specified\
        \ in OAuth2. If validates succesfully, returns an access token and a refresh\
        \ token"
      operationId: AuthController_getToken_v1
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Client Credentials:
                description: "Example to authenticate with [client credentials flow](https://auth0.com/docs/get-started/authentication-and-authorization-flow/client-credentials-flow)"
                value:
                  grantType: client_credentials
                  clientId: <your client id>
                  clientSecret: <your client secret>
              Password:
                description: "Example to authenticate with owner [password flow](https://auth0.com/docs/get-started/authentication-and-authorization-flow/resource-owner-password-flow)"
                value:
                  grantType: password
                  clientId: <your client id>
                  clientSecret: <your client secret>
                  username: <username>
                  password: <password>
              Refresh Token:
                description: "Example to authenticate with [refresh token flow](https://auth0.com/docs/secure/tokens/refresh-tokens/use-refresh-tokens)"
                value:
                  grantType: refresh_token
                  clientId: <your client id>
                  refreshToken: <refresh token>
            schema:
              $ref: '#/components/schemas/RequestTokenUserApiCredentialDto'
        description: "Currently there are three authentication flows: client_credentials,\
          \ password and refresh_token. Not all of them are available to all users"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                validationErrors:
                  summary: Validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - clientId should not be null or undefined
                    - clientId must be a string
                    - clientSecret should not be null or undefined
                    - clientSecret must be a string
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      summary: OAuth2 authentication
      tags:
      - Auth
      x-content-type: application/json
      x-accepts: application/json
  /v1/auth/info:
    get:
      description: Endpoint that gets the basic info from the user that generated
        the API credentials
      operationId: AuthController_getInfo_v1
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfoAnswerDto'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfoAnswerDto'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get user info
      tags:
      - Auth
      x-accepts: application/json
  /v1/invoices:
    get:
      description: Endpoint to get the invoices and sales receipts list
      operationId: getInvoicesList
      parameters:
      - explode: true
        in: query
        name: "query[documentType]"
        required: false
        schema:
          default:
          - INVOICE
          - CORRECTIVE
          - TEST_INVOICE
          example:
          - INVOICE
          - CORRECTIVE
          items:
            enum:
            - INVOICE
            - CORRECTIVE
            - TEST_INVOICE
            type: string
          type: array
        style: form
      - description: "Allowed values: \n      \n- DRAFT \n      \n- ISSUED\n     \
          \ \n- VOID\n      \n- CORRECTED: The invoice has been corrected with another\
          \ invoice (a corrective invoice)\n      \n- REPLACED: The simplified invoice\
          \ has been replaced with a standard invoice"
        explode: true
        in: query
        name: "query[status]"
        required: false
        schema:
          default:
          - DRAFT
          - ISSUED
          - VOID
          - CORRECTED
          - REPLACED
          example:
          - ISSUED
          items:
            enum:
            - DRAFT
            - ISSUED
            - VOID
            - CORRECTED
            - REPLACED
            type: string
          type: array
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[issuedDate]"
        required: false
        schema:
          type: string
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[createdAt]"
        required: false
        schema:
          type: string
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[updatedAt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "query[serialCode]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "query[code]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "query[isPaid]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "query[contact][vatNumber]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "query[reference]"
        required: false
        schema:
          type: string
        style: form
      - description: "When this parameter is not provided, or is false, only invoices\
          \ prior to the Verifactu regulation are returned. If true, then only Verifactu\
          \ type invoices are returned"
        explode: true
        in: query
        name: "query[getVerifactuInvoices]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "sort[issuedDate]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[createdAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[updatedAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[serialCode]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[code]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[reference]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoicesListAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                NotValidDocumentType:
                  summary: Not Valid Document Type
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-error
                    description: Some errors were found in the request schema
                    errors:
                    - "This documentType value is not valid. Valid values are INVOICE,\
                      \ TEST_INVOICE and CORRECTIVE"
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get the invoices or sales receipts list
      tags:
      - Invoices
      x-accepts: application/json
    post:
      description: Endpoint to create an invoice
      operationId: createInvoice
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create invoice (only required fields):
                description: 'Example to create an invoice from Spain (except Basque
                  Country). '
                value:
                  currency: EUR
                  lines:
                  - name: Product name
                    quantity: 2
                    unitPrice: 10
                    totalAmount: 21.78
                    discountAmount: 2
                    taxKey: IVA_21
                    taxAmount: 3.78
                    salesEqTaxAmount: 0
                  contact:
                    fiscalName: Contact S.L.
              Create invoice (with optional fields):
                description: 'Example to create an invoice from Spain (except Basque
                  Country). '
                value:
                  serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  serialCode: F2023
                  code: 1
                  mask: 3
                  issuedDate: 2021-01-01
                  reference: ALB2023001
                  visualLines:
                  - {}
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 20
                    discountPercentage: 10
                    discountAmount: 2
                    totalAmount: 21.78
                    amountDue: 21.78
                  isPaid: true
                  paidAmount: 0
                  retentionAmount: 0
                  retentionPercentage: 0
                  showProductReference: true
                  lines:
                  - name: Product name
                    description: Product description
                    quantity: 2
                    unitPrice: 10
                    subtotal: 20
                    totalAmount: 21.78
                    discountPercentage: 10
                    discountAmount: 2
                    taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    productId: ae69f822-12e5-4285-ba1d-22624e32d078
                    productReference: "123"
                  dueDate: 2023-01-01
                  additionalExpenses:
                  - expense: 0
                    description: Additional expense description
                  templateId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  contact:
                    fiscalName: Contact S.L.
                    vatNumberType: NIF
                    vatNumber: B12345678
                    taxKey: IVA_7_5
                    email: info@billin.eu
                    phone: "916726763"
                    salesEqTaxCheck: true
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Barcelona
                      province: ES-B
                      country: ES
                  showPdfLinesWithoutTaxes: false
              Create BAI invoice  (only required fields):
                description: "Example to create a BAI invoice. Mandatory in Basque\
                  \ Country.\n            \nThe fields *taxRegime* and *operationDescription*\
                  \ **are mandatory** in case these values have not been configured\
                  \ in Billin and this is the first invoice to be sent."
                value:
                  currency: EUR
                  lines:
                  - name: Product name
                    quantity: 2
                    unitPrice: 10
                    totalAmount: 21.78
                    discountAmount: 2
                    taxKey: IVA_21
                    taxAmount: 3.78
                    salesEqTaxAmount: 0
                  contact:
                    fiscalName: Contact S.L.
                    vatNumberType: NIF
                    vatNumber: B12345678
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Barcelona
                      country: ES
              Create BAI invoice  (with optional fields):
                description: "Example to create a BAI invoice. Mandatory in Basque\
                  \ Country.\n            \nThe fields *taxRegime* and *operationDescription*\
                  \ **are mandatory** in case these values have not been configured\
                  \ in Billin and this is the first invoice to be sent."
                value:
                  serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  serialCode: F2023
                  code: 1
                  mask: 3
                  issuedDate: 2021-01-01
                  reference: ALB2023001
                  visualLines:
                  - {}
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    taxExemptionCause: E6
                    operation: PROVISION_OF_SERVICES
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 20
                    discountPercentage: 10
                    discountAmount: 2
                    totalAmount: 21.78
                    amountDue: 21.78
                  isPaid: true
                  paidAmount: 0
                  retentionAmount: 0
                  retentionPercentage: 0
                  showProductReference: true
                  operationDescription: The description of the operation
                  operationDate: 2023-05-29
                  taxRegime: "01"
                  naturalPerson: false
                  epigraphIAE: "101200"
                  chargingCriterionIRPF: false
                  customIRPF: 0
                  lines:
                  - name: Product name
                    description: Product description
                    quantity: 2
                    unitPrice: 10
                    subtotal: 20
                    totalAmount: 21.78
                    discountPercentage: 10
                    discountAmount: 2
                    taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    productId: ae69f822-12e5-4285-ba1d-22624e32d078
                    productReference: "123"
                    taxExemptionCause: E6
                    operation: PROVISION_OF_SERVICES
                  dueDate: 2023-01-01
                  additionalExpenses:
                  - expense: 0
                    description: Additional expense description
                  templateId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  contact:
                    fiscalName: Contact S.L.
                    taxKey: IVA_7_5
                    email: info@billin.eu
                    phone: "916726763"
                    salesEqTaxCheck: true
                    vatNumberType: NIF
                    vatNumber: B12345678
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Barcelona
                      province: ES-B
                      country: ES
                  showPdfLinesWithoutTaxes: false
            schema:
              $ref: '#/components/schemas/InvoiceCreateDto'
        description: "- If you only send the *lines* field, Billin will **calculate\
          \ the totals**. If, on the other hand, you want to send all the values so\
          \ that Billin **does not calculate anything**, you must send the fields\
          \ *taxLines* and *total*.\n      \n- There are two fields to send the **serial\
          \ number**, either by filling in the *serialCode* field or the *serialId*\
          \ field. In case of sending both, the serialId field has priority. \n  \
          \    \n- Depending on where you have your tax domicile (Basque Country or\
          \ the rest of Spain) you will have to send some data or others.\n      \n\
          - *Province* **is mandatory** for Spain country."
      responses:
        "201":
          content:
            application/json:
              examples:
                Invoice:
                  description: Example of a returned invoice
                  value:
                    id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                    createdAt: 2021-01-01T00:00:00.000Z
                    updatedAt: 2021-01-01T00:00:00.000Z
                    issuedDateTime: 2021-01-01T00:00:00.000Z
                    issuedDate: 2021-01-01
                    ownerInfo:
                      fiscalName: Billin Factura Electrónica S.L.
                      vatNumber: ES12345678A
                      address:
                        postalAddress: "Calle de la salvación, 1"
                        postalCode: "28001"
                        province: ES-VI
                        country: ES
                        city: Madrid
                    currency: EUR
                    comments: This is a comment
                    serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                    serialCode: F2023
                    mask: 3
                    code: 1
                    identifier: F2023001
                    dueDate: 2021-01-01
                    reference: ALB2023001
                    total:
                      subtotal: 20
                      discountPercentage: 10
                      discountAmount: 2
                      totalAmount: 21.78
                      amountDue: 21.78
                    lines:
                    - name: Product name
                      description: Product description
                      productId: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      quantity: 2
                      unitPrice: 10
                      subtotal: 20
                      totalAmount: 21.78
                      discountPercentage: 10
                      discountAmount: 2
                      taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    visualLines:
                    - {}
                    taxLines:
                    - taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    additionalExpenses:
                      expense: 0
                      description: Additional expense description
                    retentionPercentage: 10
                    retentionAmount: 10
                    paidAmount: 0
                    isPaid: true
                    documentType: INVOICE
                    category: 624_LOGISTICS
                    operationDescription: The description of the operation
                    operationDate: 2023-05-29
                    taxRegime: "01"
                    naturalPerson: false
                    epigraphIAE: "101200"
                    chargingCriterionIRPF: false
                    customIRPF: 0
                    taxAuthorityStatus: PRESENTED
                    taxAuthorityCode: TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx
                    qr: https://batuz.eus/QRTBAI/?id=TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx=F2023&nf=1&i=11.11&cr=204
                    taxAuthorityValidations:
                    - code: "005"
                      description:
                        ES: El fichero no debe haber sido recibido anteriormente
                    isReceipt: true
                    status: ISSUED
                    correctedInvoices:
                    - id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      identifier: F2023001
                    correctiveData:
                      reason: R1
                      type: I
                    contact:
                      fiscalName: Contact S.L.
                      vatNumberType: NIF
                      vatNumber: ES12345678A
                      isCustomer: true
                      isProvider: true
                      taxKey: {}
                      email: info@billin.eu
                      additionalEmails: {}
                      phone: "666666666"
                      salesEqTaxCheck: true
                      address:
                        postalAddress: "C/ México, 32"
                        postalCode: "28820"
                        city: Barcelona
                        province: ES-B
                        country: ES
                      isTest: false
                    paymentMethods: {}
              schema:
                $ref: '#/components/schemas/InvoiceDocumentAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                Contact Not Found:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-not-found
                    description: "Contact with vatNumber {vatNumber} not found"
                Contact missing:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-required
                    description: Contact is missing
                Multiple contacts with same vatNumber:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-multiple-results-with-vatNumber
                    description: "Multiple contacts with vatNumber {vatNumber} found,\
                      \ please use contactId instead"
                Serie not found:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serie-not-found
                    description: "Document with serieId {serieId} not found"
                Serie not match:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serieId-not-match-serialCode
                    description: SerieId not match with serialCode
                Code used before:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: code-used-before
                    description: Another document has the same serie and code
                Document has validation errors:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema
                    errors:
                    - lines should not be null or undefined
                    - lines must contain at least 1 elements
                    - lines must be an array
                    - "lines.X.taxKey must have the format TAXTYPE_INT, TAXTYPE_INT_INT\
                      \ or TAXTYPE_NONTAXABLETAXTYPE_INT"
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: Some of the params of the request are wrong
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create an invoice
      tags:
      - Invoices
      x-content-type: application/json
      x-accepts: application/json
  /v1/invoices/{id}:
    get:
      description: Endpoint to get an invoice or a sales receipt
      operationId: getInvoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Sale receipt:
                  description: 'Example of a returned sale receipt '
                  value:
                    id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                    createdAt: 2021-01-01T00:00:00.000Z
                    updatedAt: 2021-01-01T00:00:00.000Z
                    issuedDateTime: 2021-01-01T00:00:00.000Z
                    issuedDate: 2021-01-01
                    ownerInfo:
                      fiscalName: Billin Factura Electrónica S.L.
                      vatNumber: ES12345678A
                      address:
                        postalAddress: "Calle de la salvación, 1"
                        postalCode: "28001"
                        province: ES-VI
                        country: ES
                        city: Madrid
                    currency: EUR
                    comments: This is a comment
                    serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                    serialCode: F2023
                    mask: 3
                    code: 1
                    identifier: F2023001
                    dueDate: 2021-01-01
                    reference: ALB2023001
                    total:
                      subtotal: 20
                      discountPercentage: 10
                      discountAmount: 2
                      totalAmount: 21.78
                      amountDue: 21.78
                    lines:
                    - name: Product name
                      description: Product description
                      productId: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      quantity: 2
                      unitPrice: 10
                      subtotal: 20
                      totalAmount: 21.78
                      discountPercentage: 10
                      discountAmount: 2
                      taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    visualLines:
                    - {}
                    taxLines:
                    - taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    additionalExpenses:
                    - expense: 0
                      description: Additional expense description
                    retentionPercentage: 10
                    retentionAmount: 10
                    paidAmount: 0
                    isPaid: true
                    documentType: INVOICE
                    category: 624_LOGISTICS
                    operationDescription: The description of the operation
                    operationDate: 2023-05-29
                    taxRegime: "01"
                    naturalPerson: false
                    epigraphIAE: "101200"
                    chargingCriterionIRPF: false
                    customIRPF: 0
                    taxAuthorityStatus: PRESENTED
                    taxAuthorityCode: TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx
                    qr: https://batuz.eus/QRTBAI/?id=TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx=F2023&nf=1&i=11.11&cr=204
                    taxAuthorityValidations:
                    - code: "005"
                      description:
                        ES: El fichero no debe haber sido recibido anteriormente
                    isReceipt: true
                    status: ISSUED
                    correctedInvoices:
                    - id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      identifier: F2023001
                    correctiveData:
                      reason: R1
                      type: I
                Invoice:
                  description: Example of a returned invoice
                  value:
                    id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                    createdAt: 2021-01-01T00:00:00.000Z
                    updatedAt: 2021-01-01T00:00:00.000Z
                    issuedDateTime: 2021-01-01T00:00:00.000Z
                    issuedDate: 2021-01-01
                    ownerInfo:
                      fiscalName: Billin Factura Electrónica S.L.
                      vatNumber: ES12345678A
                      address:
                        postalAddress: "Calle de la salvación, 1"
                        postalCode: "28001"
                        province: ES-VI
                        country: ES
                        city: Madrid
                    currency: EUR
                    comments: This is a comment
                    serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                    serialCode: F2023
                    mask: 3
                    code: 1
                    identifier: F2023001
                    dueDate: 2021-01-01
                    reference: ALB2023001
                    total:
                      subtotal: 20
                      discountPercentage: 10
                      discountAmount: 2
                      totalAmount: 21.78
                      amountDue: 21.78
                    lines:
                    - name: Product name
                      description: Product description
                      productId: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      quantity: 2
                      unitPrice: 10
                      subtotal: 20
                      totalAmount: 21.78
                      discountPercentage: 10
                      discountAmount: 2
                      taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    visualLines:
                    - {}
                    taxLines:
                    - taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    additionalExpenses:
                      expense: 0
                      description: Additional expense description
                    retentionPercentage: 10
                    retentionAmount: 10
                    paidAmount: 0
                    isPaid: true
                    documentType: INVOICE
                    category: 624_LOGISTICS
                    operationDescription: The description of the operation
                    operationDate: 2023-05-29
                    taxRegime: "01"
                    naturalPerson: false
                    epigraphIAE: "101200"
                    chargingCriterionIRPF: false
                    customIRPF: 0
                    taxAuthorityStatus: PRESENTED
                    taxAuthorityCode: TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx
                    qr: https://batuz.eus/QRTBAI/?id=TBAI-xxxxxxxxx-xxxxxx-xxxxxxxxxxxxx-xxx=F2023&nf=1&i=11.11&cr=204
                    taxAuthorityValidations:
                    - code: "005"
                      description:
                        ES: El fichero no debe haber sido recibido anteriormente
                    isReceipt: true
                    status: ISSUED
                    correctedInvoices:
                    - id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      identifier: F2023001
                    correctiveData:
                      reason: R1
                      type: I
                    contact:
                      fiscalName: Contact S.L.
                      vatNumberType: NIF
                      vatNumber: ES12345678A
                      isCustomer: true
                      isProvider: true
                      taxKey: {}
                      email: info@billin.eu
                      additionalEmails: {}
                      phone: "666666666"
                      salesEqTaxCheck: true
                      address:
                        postalAddress: "C/ México, 32"
                        postalCode: "28820"
                        city: Barcelona
                        province: ES-B
                        country: ES
                      isTest: false
                    paymentMethods: {}
              schema:
                $ref: '#/components/schemas/getInvoice_200_response'
          description: Depending on the type of the invoice the returned document
            can be a Sales Receipt or an Invoice
        "400":
          content:
            application/json:
              examples:
                Invoice not found:
                  description: The requested invoice has not been found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-not-found
                    description: "Invoice or sales receipt with id {id} not found"
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: Some of the query params of the request are wrong
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get an invoice or a sales receipt
      tags:
      - Invoices
      x-accepts: application/json
  /v1/invoices/sales-receipts:
    post:
      description: Endpoint to create a receipt
      operationId: createReceipt
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create sales receipt (only required fields):
                description: Example to create a sales receipt from Spain (except
                  Basque Country)
                value:
                  currency: EUR
                  lines:
                  - name: Product name
                    quantity: 2
                    unitPrice: 10
                    totalAmount: 21.78
                    discountAmount: 2
                    taxKey: IVA_21
                    taxAmount: 3.78
                    salesEqTaxAmount: 0
              Create sales receipt (with optional fields):
                description: Example to create a sales receipt from Spain (except
                  Basque Country)
                value:
                  serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  serialCode: F2023
                  code: 1
                  mask: 3
                  issuedDate: 2021-01-01
                  reference: ALB2023001
                  visualLines:
                  - {}
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 20
                    discountPercentage: 10
                    discountAmount: 2
                    totalAmount: 21.78
                    amountDue: 21.78
                  isPaid: true
                  paidAmount: 0
                  retentionAmount: 0
                  retentionPercentage: 0
                  showProductReference: true
                  lines:
                  - name: Product name
                    description: Product description
                    quantity: 2
                    unitPrice: 10
                    subtotal: 20
                    totalAmount: 21.78
                    discountPercentage: 10
                    discountAmount: 2
                    taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    productId: ae69f822-12e5-4285-ba1d-22624e32d078
                    productReference: "123"
              Create BAI sales receipt (only required fields):
                description: Example to create a BAI sales receipt. Mandatory in Basque
                  Country
                value:
                  currency: EUR
                  lines:
                  - name: Product name
                    quantity: 2
                    unitPrice: 10
                    totalAmount: 21.78
                    discountAmount: 2
                    taxKey: IVA_21
                    taxAmount: 3.78
                    salesEqTaxAmount: 0
              Create BAI sales receipt (with optional fields):
                description: Example to create a BAI sales receipt. Mandatory in Basque
                  Country
                value:
                  serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  serialCode: F2023
                  code: 1
                  mask: 3
                  issuedDate: 2021-01-01
                  reference: ALB2023001
                  visualLines:
                  - {}
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    taxExemptionCause: E6
                    operation: PROVISION_OF_SERVICES
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 20
                    discountPercentage: 10
                    discountAmount: 2
                    totalAmount: 21.78
                    amountDue: 21.78
                  isPaid: true
                  paidAmount: 0
                  retentionAmount: 0
                  retentionPercentage: 0
                  showProductReference: true
                  operationDescription: The description of the operation
                  operationDate: 2023-05-29
                  taxRegime: "01"
                  naturalPerson: false
                  epigraphIAE: "101200"
                  chargingCriterionIRPF: false
                  customIRPF: 0
                  lines:
                  - name: Product name
                    description: Product description
                    quantity: 2
                    unitPrice: 10
                    subtotal: 20
                    totalAmount: 21.78
                    discountPercentage: 10
                    discountAmount: 2
                    taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    productId: ae69f822-12e5-4285-ba1d-22624e32d078
                    productReference: "123"
                    taxExemptionCause: E6
                    operation: PROVISION_OF_SERVICES
            schema:
              $ref: '#/components/schemas/createReceipt_request'
        description: "If you only send the *lines* field, Billin will **calculate\
          \ the totals**. If, on the other hand, you want to send all the values so\
          \ that Billin **does not calculate anything**, you must send the fields\
          \ *taxLines* and *total*.\n      \nDepending on where you have your tax\
          \ domicile (Basque Country or the rest of Spain) you will have to send some\
          \ data or others"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReceiptDocumentAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                serieNotFound:
                  summary: Serie not found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serie-not-found
                    description: "Document with serieId {serieId} not found"
                serieNotMatch:
                  summary: Serie not match
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serieId-not-match-serialCode
                    description: SerieId not match with serialCode
                codeUsedBefore:
                  summary: Code used before
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: code-used-before
                    description: Another document has the same serie and code
                validationErrors:
                  summary: Document has validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - lines should not be null or undefined
                    - lines must contain at least 1 elements
                    - lines must be an array
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create a receipt
      tags:
      - Receipts
      x-content-type: application/json
      x-accepts: application/json
  /v1/expenses:
    get:
      description: Endpoint to get the expenses list
      operationId: getExpensesList
      parameters:
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[issuedDate]"
        required: false
        schema:
          type: string
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[createdAt]"
        required: false
        schema:
          type: string
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[updatedAt]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "query[identifier]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "query[isPaid]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "query[contact][vatNumber]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[issuedDate]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[createdAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[updatedAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[identifier]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExpenseListAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                NotValidDocumentType:
                  summary: Not Valid Document Type
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-error
                    description: Some errors were found in the request schema
                    errors:
                    - This documentType value is not valid. Valid value is EXPENSE
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get the expenses list
      tags:
      - Expenses
      x-accepts: application/json
    post:
      description: Endpoint to create an expense
      operationId: createExpense
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create expense (only required fields):
                description: Example to create an expense.
                value:
                  identifier: F20240011
                  issuedDate: 2024-03-20
                  lines:
                  - name: Potatoe
                    subtotal: 10
                    totalAmount: 12.1
                    taxKey: IVA_21
                    taxAmount: 2.1
                  currency: EUR
                  contact:
                    fiscalName: Contact S.L.
                    vatNumberType: NIF
                    vatNumber: B12345678
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Madrid
                      country: ES
                      province: ES-M
              Create expense (with optional fields):
                description: Example to create an expense.
                value:
                  identifier: F20240011
                  issuedDate: 2024-03-20
                  lines:
                  - name: Potatoe
                    description: "Hi, this is a potatoe"
                    subtotal: 10
                    totalAmount: 12.1
                    taxKey: IVA_21
                    taxPercentage: 21
                    taxAmount: 2.1
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 10
                    taxPercentage: 21
                    taxAmount: 2.1
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 10
                    totalAmount: 12.1
                    amountDue: 12.1
                  isPaid: true
                  retentionAmount: 0
                  retentionPercentage: 0
                  dueDate: 2024-04-20
                  contact:
                    fiscalName: Contact S.L.
                    vatNumberType: NIF
                    vatNumber: B12345678
                    taxKey: IVA_21
                    email: info@billin.eu
                    phone: "916726763"
                    salesEqTaxCheck: true
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Barcelona
                      province: ES-B
                      country: ES
                  category: 600_WARE
            schema:
              $ref: '#/components/schemas/ExpenseCreateDto'
        description: "- If you only send the *lines* field, Billin will **calculate\
          \ the totals**. If, on the other hand, you want to send all the values so\
          \ that Billin **does not calculate anything**, you must send the fields\
          \ *taxLines* and *total*.\n      \n- *Province* **is mandatory** for Spain\
          \ country."
      responses:
        "201":
          content:
            application/json:
              examples:
                Expense:
                  description: Example of a returned expense
                  value:
                    id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                    createdAt: 2021-01-01T00:00:00.000Z
                    updatedAt: 2021-01-01T00:00:00.000Z
                    issuedDateTime: 2021-01-01T00:00:00.000Z
                    issuedDate: 2021-01-01
                    ownerInfo:
                      fiscalName: Billin Factura Electrónica S.L.
                      vatNumber: ES12345678A
                      address:
                        postalAddress: "Calle de la salvación, 1"
                        postalCode: "28001"
                        province: ES-VI
                        country: ES
                        city: Madrid
                    currency: EUR
                    comments: This is a comment
                    identifier: F2023001
                    contact:
                      fiscalName: Contact S.L.
                      vatNumberType: NIF
                      vatNumber: ES12345678A
                      isCustomer: true
                      isProvider: true
                      taxKey: {}
                      email: info@billin.eu
                      additionalEmails: {}
                      phone: "666666666"
                      salesEqTaxCheck: true
                      address:
                        postalAddress: "C/ México, 32"
                        postalCode: "28820"
                        city: Barcelona
                        province: ES-B
                        country: ES
                      isTest: false
                    lines:
                    - name: Product name
                      description: Product description
                      productId: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      quantity: 2
                      unitPrice: 10
                      subtotal: 20
                      totalAmount: 21.78
                      discountPercentage: 10
                      discountAmount: 2
                      taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    taxLines:
                    - taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    total:
                      subtotal: 20
                      discountPercentage: 10
                      discountAmount: 2
                      totalAmount: 21.78
                      amountDue: 21.78
                    retentionPercentage: 10
                    retentionAmount: 10
                    paidAmount: 0
                    isPaid: true
                    dueDate: 2021-01-01
                    paymentMethods: {}
                    category: 624_LOGISTICS
                    isExpense: {}
              schema:
                $ref: '#/components/schemas/ExpenseDocumentAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                Contact Not Found:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-not-found
                    description: "Contact with vatNumber {vatNumber} not found"
                Contact missing:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-required
                    description: Contact is missing
                Multiple contacts with same vatNumber:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-multiple-results-with-vatNumber
                    description: "Multiple contacts with vatNumber {vatNumber} found,\
                      \ please use contactId instead"
                Document has validation errors:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema
                    errors:
                    - lines should not be null or undefined
                    - lines must contain at least 1 elements
                    - lines must be an array
                    - issuedDate should not be null or undefined
                    - issuedDate must be a valid ISO 8601 date string
                    - identifier should not be null or undefined
                    - identifier must be a string
                    - currency should not be null or undefined
                    - currency must be a valid enum value
                    - category must be a valid enum value
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: Some of the params of the request are wrong
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create an expense
      tags:
      - Expenses
      x-content-type: application/json
      x-accepts: application/json
  /v1/quotes:
    post:
      description: Endpoint to create a quote
      operationId: createQuote
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create quote (only required fields):
                description: Example to create a quote from Spain (except Basque Country)
                value:
                  currency: EUR
                  lines:
                  - name: Product name
                    quantity: 2
                    unitPrice: 10
                    totalAmount: 21.78
                    discountAmount: 2
                    taxKey: IVA_21
                    taxAmount: 3.78
                    salesEqTaxAmount: 0
                  contact:
                    fiscalName: Contact S.L.
              Create quote (with optional fields):
                description: Example to create a quote from Spain (except Basque Country)
                value:
                  serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  serialCode: F2023
                  code: 1
                  mask: 3
                  issuedDate: 2021-01-01
                  reference: ALB2023001
                  visualLines:
                  - {}
                  taxLines:
                  - taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                  comments: This is a comment
                  currency: EUR
                  total:
                    subtotal: 20
                    discountPercentage: 10
                    discountAmount: 2
                    totalAmount: 21.78
                    amountDue: 21.78
                  paidAmount: 0
                  retentionAmount: 0
                  retentionPercentage: 0
                  showProductReference: true
                  lines:
                  - name: Product name
                    description: Product description
                    quantity: 2
                    unitPrice: 10
                    subtotal: 20
                    totalAmount: 21.78
                    discountPercentage: 10
                    discountAmount: 2
                    taxKey: IVA_21
                    taxBase: 18
                    taxPercentage: 21
                    taxAmount: 3.78
                    salesEqTaxPercentage: 0
                    salesEqTaxAmount: 0
                    productId: ae69f822-12e5-4285-ba1d-22624e32d078
                    productReference: "123"
                  dueDate: 2023-01-01
                  additionalExpenses:
                  - expense: 0
                    description: Additional expense description
                  templateId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                  contact:
                    fiscalName: Contact S.L.
                    vatNumberType: NIF
                    vatNumber: B12345678
                    taxKey: IVA_7_5
                    email: info@billin.eu
                    phone: "916726763"
                    salesEqTaxCheck: true
                    address:
                      postalAddress: "C/ México, 32"
                      postalCode: "28820"
                      city: Barcelona
                      province: ES-B
                      country: ES
                  showPdfLinesWithoutTaxes: false
                  status: PENDING
            schema:
              $ref: '#/components/schemas/QuoteCreateDto'
        description: "- If you only send the *lines* field, Billin will **calculate\
          \ the totals**. If, on the other hand, you want to send all the values so\
          \ that Billin **does not calculate anything**, you must send the fields\
          \ *taxLines* and *total*.\n      \n- There are two fields to send the **serial\
          \ number**, either by filling in the *serialCode* field or the *serialId*\
          \ field. In case of sending both, the serialId field has priority."
      responses:
        "201":
          content:
            application/json:
              examples:
                Quote:
                  description: Example of a returned quote
                  value:
                    id: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                    createdAt: 2021-01-01T00:00:00.000Z
                    updatedAt: 2021-01-01T00:00:00.000Z
                    issuedDateTime: 2021-01-01T00:00:00.000Z
                    issuedDate: 2021-01-01
                    ownerInfo:
                      fiscalName: Billin Factura Electrónica S.L.
                      vatNumber: ES12345678A
                      address:
                        postalAddress: "Calle de la salvación, 1"
                        postalCode: "28001"
                        province: ES-VI
                        country: ES
                        city: Madrid
                    currency: EUR
                    comments: This is a comment
                    serieId: 5f7b1b3b-5b9a-4b0a-8b0a-0b9a5b7b1f7b
                    serialCode: F2023
                    mask: 3
                    code: 1
                    identifier: F2023001
                    dueDate: 2021-01-01
                    reference: ALB2023001
                    total:
                      subtotal: 20
                      discountPercentage: 10
                      discountAmount: 2
                      totalAmount: 21.78
                      amountDue: 21.78
                    lines:
                    - name: Product name
                      description: Product description
                      productId: 5f7b1b3b-5b9a-4b0a-8b0a-0b1a5b7b1f7b
                      quantity: 2
                      unitPrice: 10
                      subtotal: 20
                      totalAmount: 21.78
                      discountPercentage: 10
                      discountAmount: 2
                      taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    visualLines:
                    - {}
                    taxLines:
                    - taxKey: {}
                      taxBase: 18
                      taxPercentage: 21
                      taxAmount: 3.78
                      salesEqTaxPercentage: 0
                      salesEqTaxAmount: 0
                      taxExemptionGroup: EXEMPTION
                      taxExemptionCause: E6
                      operation: PROVISION_OF_SERVICES
                    additionalExpenses:
                      expense: 0
                      description: Additional expense description
                    retentionPercentage: 10
                    retentionAmount: 10
                    paidAmount: 0
                    documentType: INVOICE
                    category: 624_LOGISTICS
                    contact:
                      fiscalName: Contact S.L.
                      vatNumberType: NIF
                      vatNumber: ES12345678A
                      isCustomer: true
                      isProvider: true
                      taxKey: {}
                      email: info@billin.eu
                      additionalEmails: {}
                      phone: "666666666"
                      salesEqTaxCheck: true
                      address:
                        postalAddress: "C/ México, 32"
                        postalCode: "28820"
                        city: Barcelona
                        province: ES-B
                        country: ES
                      isTest: false
                    paymentMethods: {}
                    status: PENDING
              schema:
                $ref: '#/components/schemas/QuoteDocumentAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                Contact Not Found:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-not-found
                    description: "Contact with vatNumber {vatNumber} not found"
                Multiple contacts with same vatNumber:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-contact-multiple-results-with-vatNumber
                    description: "Multiple contacts with vatNumber {vatNumber} found,\
                      \ please use contactId instead"
                Serie not found:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serie-not-found
                    description: "Document with serieId {serieId} not found"
                Serie not match:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: serieId-not-match-serialCode
                    description: SerieId not match with serialCode
                Code used before:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: code-used-before
                    description: Another document has the same serie and code
                Document has validation errors:
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema
                    errors:
                    - contact should not be null or undefined
                    - lines should not be null or undefined
                    - lines must contain at least 1 elements
                    - lines must be an array
                    - currency should not be null or undefined
                    - currency must be a valid enum value
                    - status must be a valid enum value
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: Some of the params of the request are wrong
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create a quote
      tags:
      - Quotes
      x-content-type: application/json
      x-accepts: application/json
  /v1/contacts:
    post:
      description: Endpoint to create a contact
      operationId: createContact
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create a contact (only required fields):
                description: Example to create a contact with only the required fields.
                value:
                  fiscalName: Contact S.L.
              Create a contact (with optional fields):
                description: Example to create a contact with only the required fields.
                value:
                  fiscalName: Contact S.L.
                  vatNumberType: NIF
                  vatNumber: B12345678
                  taxKey: IVA_7_5
                  email: info@billin.eu
                  phone: "916726763"
                  salesEqTaxCheck: true
                  address:
                    postalAddress: "C/ México, 32"
                    postalCode: "28820"
                    city: Barcelona
                    province: ES-B
                    country: ES
                  isCustomer: true
                  isProvider: true
                  notes: This contact has a special discount
                  paymentMethods:
                  - type: DIRECT_DEBIT
                    data:
                      IBAN: ES1801249021325578279827
              Create a contact with Spanish address:
                description: Example to create a contact with an address whose country
                  is Spain
                value:
                  fiscalName: Contact S.L.
                  vatNumber: B12345678
                  address:
                    postalAddress: "C/ México, 32"
                    postalCode: "28820"
                    city: Madrid
                    country: ES
                    province: ES-M
              Create a contact with non-Spanish address:
                description: Example to create a contact with an address whose country
                  is not Spain. Province is not required if country is not Spain
                value:
                  fiscalName: Contact S.L.
                  vatNumber: B12345678
                  address:
                    postalAddress: "C/ París, 32"
                    postalCode: CP3434X
                    city: Paris
                    country: FR
            schema:
              $ref: '#/components/schemas/CreateContactDto'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                fiscalNameRequired:
                  summary: Fiscal name is required
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: fiscal-name-required
                    description: fiscal name is missing
                duplicateVatNumber:
                  summary: Duplicate vat number
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: duplicate-vat-number
                    description: "Another contact has the same vat number {vatNumber}"
                validationErrors:
                  summary: Document has validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - fiscalName should not be null or undefined
                    - fiscalName cannot be longer than 120 characters
                    - fiscalName must be a string
                    - Not valid vatNumber format
                    - vatNumberType must be a valid enum value
                    - email cannot be longer than 64 characters
                    - email must be an email
                    - phone cannot be longer than 64 characters
                    - address.postalAddress cannot be longer than 64 characters
                    - address.postalCode should not be empty
                    - address.postalCode is not valid
                    - address.postalCode cannot be longer than 20 characters
                    - address.city cannot be longer than 64 characters
                    - "address.province is required for country {country}"
                    - "address.province {province} is not valid for country {country}"
                    - address.country must be a valid enum value
                    - "taxKey must have the format TAXTYPE_INT, TAXTYPE_INT_INT or\
                      \ TAXTYPE_NONTAXABLETAXTYPE_INT"
                    - salesEqTaxCheck must be a boolean value
                    - isCustomer must be a boolean value
                    - isProvider must be a boolean value
                    - notes must be shorter than or equal to 2000 characters
                    - notes must be a string
                notValidPlan:
                  summary: Not valid plan
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: not-valid-plan
                    description: Not valid plan
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
        "403":
          content:
            application/json:
              examples:
                contactsCreateNotAvailable:
                  description: This is the error you will see when you cannot create
                    more contacts because you have exceeded the limit allowed in your
                    business plan.
                  summary: Contacts create not available
                  value:
                    statusCode: 403
                    message: contacts::create not available
                    error: Forbidden
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ""
      security:
      - bearer: []
      summary: Create a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /v1/payments:
    get:
      description: Endpoint to get the payment list
      operationId: getPaymentList
      parameters:
      - explode: true
        in: query
        name: "sort[createdAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[operationDate]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "query[type]"
        required: false
        schema:
          enum:
          - INCOME
          - EXPENSE
          type: string
        style: form
      - explode: true
        in: query
        name: "query[method]"
        required: false
        schema:
          enum:
          - BIZUM
          - CASH
          - CREDIT_CARD
          - DIRECT_DEBIT
          - PROMISSORY_NOTE
          - TRANSFER
          - OTHER
          - CONFIRMING
          - NOT_CONFIRMED
          type: string
        style: form
      - description: |-
          You can filter by a date range using one of the following operators:

          - $gt: greater than

          - $gte: greater than or equal

          - $lt: lower than

          - $lte: lower than or equal

          Example: query[date][$gt]=2023-01-01&query[date][$lt]=2023-02-01
        explode: true
        in: query
        name: "query[operationDate]"
        required: false
        schema:
          type: string
        style: form
      - description: The contact id of the payment
        explode: true
        in: query
        name: "query[contactId]"
        required: false
        schema:
          type: string
        style: form
      - description: The accounting account id of the payment
        explode: true
        in: query
        name: "query[accountingAccountId]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListAnswerDto'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get payment list
      tags:
      - Payments
      x-accepts: application/json
    post:
      description: Endpoint to create a payment
      operationId: createPayment
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create a payment (only required fields):
                description: Example to create a payment
                value:
                  operationDate: 2024-03-04
                  amount: 50
                  type: INCOME
              Create a payment (with optional fields):
                description: Example to create a payment
                value:
                  operationDate: 2024-03-04
                  amount: 50
                  method: CREDIT_CARD
                  type: INCOME
                  contactId: 8adfcaa8-61dd-4e72-a659-37eef610753d
                  documentsIds:
                  - 320321a3-4364-4c2b-8728-de7732be07fe
                  accountingAccountId: f4639a33-c0b6-4bd8-b534-d818f2806327
                  description: Payment for the purchase of potatoes
            schema:
              $ref: '#/components/schemas/CreatePaymentDto'
        description: "- There are two fields to set the **contact**, either by filling\
          \ in the ***contactId*** field or the ***documentsId*** field. You can't\
          \ send both, please provide **only one of them**."
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                validationErrors:
                  summary: Payment has validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - operationDate should not be null or undefined
                    - operationDate must be a valid ISO 8601 date string
                    - amount should not be null or undefined
                    - amount must be a number conforming to the specified constraints
                    - amount must not be less than 0
                    - type should not be null or undefined
                    - type must be a valid enum value
                    - method must be a valid enum value
                    - "property {property-not-allowed} should not exist"
                contactNotFound:
                  summary: Contact not found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: contact-not-found
                    description: Contact not found
                accountingAccountNotFound:
                  summary: Accounting account not found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: accounting-account-not-found
                    description: Accounting account not found
                remittanceNotFound:
                  summary: Remittance not found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: remittance-not-found
                    description: "Remittance {remittanceId} not found"
                documentsNotFound:
                  summary: Documents not found
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: some-documents-not-found
                    description: One or more documents not found
                documentIsTest:
                  summary: Document is test
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-is-test
                    description: Payment cannot be associated with a test document
                documentIsDraft:
                  summary: Document is draft
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-is-draft
                    description: Payment cannot be associated with a draft document
                documentIsVoid:
                  summary: Document is void
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-is-void
                    description: Payment cannot be associated with a void document
                documentHasIncorrectPaymentType:
                  summary: Document has incorrect payment type
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: document-has-incorrect-payment-type
                    description: Payment type is not correct for the document. Please
                      check if the amount and the document type is correct for this
                      payment type
                notValidPlan:
                  summary: Not valid plan
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: not-valid-plan
                    description: Not valid plan
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create a payment
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /v1/products:
    post:
      description: Endpoint to create a product
      operationId: createProduct
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create a product (only required fields):
                description: Example to create a product
                value:
                  name: Potato
                  taxKey: IVA_7_5
              Create a product (with optional fields):
                description: Example to create a product
                value:
                  name: Potato
                  description: The potato is a starchy tuber of the plant Solanum
                    tuberosum
                  reference: PTT-001
                  taxKey: IVA_7_5
                  buyingPrice: 10
                  sellingPrice: 20
                  retailPrice: 21.78
                  discountPercentage: 10
            schema:
              $ref: '#/components/schemas/CreateProductDto'
        description: '- At least one of the two fields *sellingPrice* or *retailPrice*
          is mandatory.'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                validationErrors:
                  summary: Product has validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - name should not be null or undefined
                    - name should not be empty
                    - name must be shorter than or equal to 255 characters
                    - name must be a string
                    - description must be shorter than or equal to 2000 characters
                    - description must be a string
                    - reference must be shorter than or equal to 255 characters
                    - reference must be a string
                    - taxKey should not be null or undefined
                    - "taxKey must have the format TAXTYPE_INT, TAXTYPE_INT_INT or\
                      \ TAXTYPE_NONTAXABLETAXTYPE_INT"
                    - buyingPrice must be a number conforming to the specified constraints
                    - buyingPrice must not be greater than 999999
                    - buyingPrice must be a positive number
                    - sellingPrice should not be null or undefined
                    - sellingPrice must be a number conforming to the specified constraints
                    - sellingPrice must not be greater than 999999
                    - sellingPrice must not be less than 0
                    - "property {property-not-allowed} should not exist"
                    - At least one of the two fields sellingPrice or retailPrice is
                      mandatory
                    - Selling price or retail price has calculation errors. Please
                      check it
                    - Discount percentage is 100% but retail price is not 0
                    - Discount percentage must be a number between 0 and 100
                notValidPlan:
                  summary: Not valid plan
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: not-valid-plan
                    description: Not valid plan
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
        "403":
          content:
            application/json:
              examples:
                productsCreateNotAvailable:
                  description: This is the error you will see when you cannot create
                    more products because you have exceeded the limit allowed in your
                    business plan.
                  summary: Products create not available
                  value:
                    statusCode: 403
                    message: products::create not available
                    error: Forbidden
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ""
      security:
      - bearer: []
      summary: Create a product
      tags:
      - Products
      x-content-type: application/json
      x-accepts: application/json
  /v1/accounting-accounts:
    get:
      description: Endpoint to get the accounting accounts list
      operationId: getAccountingAccountList
      parameters:
      - explode: true
        in: query
        name: "query[type]"
        required: false
        schema:
          enum:
          - BANK_ACCOUNT
          - CASH_REGISTER
          - CREDIT_CARD
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[createdAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[updatedAt]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: "sort[alias]"
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 0
          type: number
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccountListAnswerDto'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Get the accounting accounts list
      tags:
      - Accounting Accounts
      x-accepts: application/json
    post:
      description: Endpoint to create an accounting account
      operationId: createAccountingAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create credit card accounting account:
                description: Example to create a credit card type accounting account
                value:
                  type: CREDIT_CARD
                  alias: Visa Oro
                  creditCardNumber: "1846"
                  creditCardExpireDate: 01/23
              Create a bank accounting account:
                description: Example to create a bank type accounting account
                value:
                  type: BANK_ACCOUNT
                  alias: Cuenta Banco Popular B
                  IBAN: ES7221002792116644245555
                  swiftCode: BBVAESBB620
              Create a cash register accounting account:
                description: Example to create a cash register type accounting account
                value:
                  type: CASH_REGISTER
                  alias: Caja registradora
            schema:
              $ref: '#/components/schemas/CreateAccountingAccountDto'
        description: |-
          There are are three types of accounting accounts. Each one of them expects a diferent payload:

                - BANK_ACCOUNT: expects IBAN and SWIFT code.

                - CREDIT_CARD: expects credit card number and expire date.

                - CASH_REGISTER: expects no additional fields.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccountAnswerDto'
          description: ""
        "400":
          content:
            application/json:
              examples:
                validationErrors:
                  summary: AccountingAccount has validation errors
                  value:
                    statusCode: 400
                    message: BadRequestException
                    type: validation-errors
                    description: Some errors were found in the request schema.
                    errors:
                    - owner is missing
                    - type is missing
                    - alias is missing
                    - IBAN is missing
                    - "{property-not-allowed} is not allowed for this type of account"
                    - creditCardNumber must be 4 digits
                    - creditCardExpireDate must be in format MM/YY
                    - IBAN is invalid
                    - swiftCode is invalid
              schema:
                $ref: '#/components/schemas/ApiBadRequestException'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedException'
          description: ""
      security:
      - bearer: []
      summary: Create an accounting account
      tags:
      - Accounting Accounts
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    RequestTokenUserApiCredentialDto:
      example:
        password: password
        clientId: my client id
        clientSecret: my client secret key
        grantType: client_credentials
        refreshToken: refresh token
        username: username
      properties:
        grantType:
          default: client_credentials
          description: '''client_credentials'' is the default value if this field
            is omitted. ''password'' value is only allowed for highly trusted applications'
          enum:
          - client_credentials
          - refresh_token
          - password
          example: client_credentials
          type: string
        clientId:
          example: my client id
          type: string
        clientSecret:
          example: my client secret key
          type: string
        refreshToken:
          example: refresh token
          type: string
        username:
          description: Required if grantType is 'password'
          example: username
          type: string
        password:
          description: Required if grantType is 'password'
          example: password
          type: string
      required:
      - clientId
      type: object
    TokenAnswerDto:
      example:
        expireIn: 0.8008281904610115
        accessToken: accessToken
        refreshToken: refreshToken
      properties:
        accessToken:
          type: string
        expireIn:
          type: number
        refreshToken:
          type: string
      required:
      - accessToken
      - expireIn
      - refreshToken
      type: object
    ApiBadRequestException:
      properties:
        statusCode:
          example: 400
          type: number
        message:
          example: BadRequestException
          type: string
        type:
          example: validation-errors
          type: string
        description:
          description: El documento contiene errores de validación
          type: string
        errors:
          example:
          - "[10-58] El campo NumFactura debería contener únicamente caracteres numé\
            ricos"
          - "[10-128] El valor absoluto de la Retención soportada no puede ser superior\
            \ al 28 por 100 del valor absoluto de importe total de la factura."
          items:
            type: string
          type: array
      required:
      - description
      - message
      - statusCode
      - type
      type: object
    ApiUnauthorizedException:
      properties:
        message:
          example: UnauthorizedException
          type: string
        statusCode:
          example: 401
          type: number
        type:
          example: unauthorized-error
          type: string
        description:
          example: Unauthorized
          type: string
      required:
      - description
      - message
      - statusCode
      - type
      type: object
    AuthInfoAnswerDto:
      example:
        role: role
        businessId: 005c890a-349f-45ef-b1a8-843cbd55f82b
        fiscalName: Billin Factura Electrónica S.L.
        userId: 0020cc50-a63c-40b1-9e45-8f4b25d46c2c
        email: info@billin.eu
        vatNumber: ES12345678A
      properties:
        userId:
          description: Unique ID of user's account
          example: 0020cc50-a63c-40b1-9e45-8f4b25d46c2c
          type: string
        businessId:
          description: Unique ID of business's account
          example: 005c890a-349f-45ef-b1a8-843cbd55f82b
          type: string
        email:
          description: The email of the user
          example: info@billin.eu
[...]
